*{  
  font-family: Roboto, sans-serif;
  margin: 0;
  Padding: 0
}

body{
  background: linear-gradient(90deg, rgb(11, 56, 139), rgb(96, 9, 131));
  color: white;
  height: 100vh;
}

a{
  color: aqua;
}

a:hover{
  color: chartreuse;
}

.footer{
  background: linear-gradient(90deg, rgb(127, 16, 172), rgb(18, 79, 192));
  margin-top: 3em;
  margin-bottom: 0;
  padding: 2em 5em 2em 5em;
  text-align: center;
}
